
body{
    background-color: #4EFFEF;
    text-align: center;
    
}
div{
    background-color: #4EFFEF;
}
#one{
    color:#2CA974;
    text-align: center;
}
#two{
    color:#A379C9;
    font-family:  'Oswald', sans-serif;
    
}
#three{
    color: #F45866;
    font-style: italic;
    text-decoration: underline overline;
}
#five{
    color:#2CA974;
    text-align: center;
}
ul{
    text-align: center;
    color:#2CA974;
    font-size: 20px;
}
#six{
    color:#5C5C5C;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size:20px;
}

img{
    width: 20%;
}
.button {
    background-color: #ffc857;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

#boom{
    height:85vh;
     font-size: 2em;
     font-family: 'Open Sans', sans-serif;
    color:#2CA974;
    text-indent: 30px;
   
}
#loom{
    color:blue;
}
#moom{
     font-size: 3em;
     font-family: 'Open Sans', sans-serif;
    color:#2CA974;
    text-indent: 30px;
    height:5vh;
}

#hi{
    color: #FFC857;
}